@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    text-decoration:none;
    color: inherit;
}

body{
    box-sizing: border-box;
    background-color: rgb(41, 40, 40);
    background-image: url("/assets/background2.jpg");
    background-position: center;
    background-attachment: fixed ;
    background-size: cover;
    background-blend-mode: multiply;
}

.cabecalho{
    box-sizing: border-box;
    display: block;
    color: aliceblue;
    gap: 10%;
}

.cabecalho__nome{
    display: flex;
    align-items: center;
}

.cabecalho__nome__logo{
    padding-left: 2%;
}
  
.nome {
    display: flex;
    position: absolute;
    padding: 0% 0% 0.2% 33.7%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    color:rgb(62, 61, 61) ;
}
  
  .nome__baixo {
    display: flex;
    position: absolute;
    padding-left: 34%;
    color: #5AC051;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
  }

.cabecalho__nav{
    display: flex;
    font-family: 'montserrat', sans-serif;
    font-size: 0.9rem;
    justify-content: space-between;
    width: 100%;
    gap: 5%;
    padding: 0% 15% 0% 15%;
    box-sizing: border-box;
}

.cabecalho__nav__link{
    border-style: solid;
    padding: 0.5% 0.5% 0.5% 0.5%;
    border-radius: 10px;
}

.cabecalho__nav__link:hover{
    color:#5AC051 ;
    transition: 0.2s;
}

.conteudo {
    display: flex;
    padding: 5% 15% 6% 15%;
    text-align: justify;
    flex-direction: column;
    color: #5AC051;

}

.conteudo__texto {
    width: 62.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.725rem;
    font-family: 'montserrat', sans-serif;
    font-size: 1.25rem;
    text-align: justify;
    width: 100%;
    padding-bottom: 1%;

}

.conteudo__texto__titulo{
    color: aliceblue;
    font-family: 'Krona One', sans-serif;
    font-size: 1.875rem;
    text-align: center;
}

.conteudo__texto__titulo__subtitulo{
    color: aliceblue;
    font-family: 'Krona One', sans-serif;
    font-size: 1.25rem;

}

table{
    background-color:#000512
}

.tabela__curso{
    display: flex;
    gap: 1%;
}

.tabela__curso__continuacao{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin: 1%;
}

.curso{
    border-style: solid;
    border-color:#ffffff;
    width: 35%;
    height: 410px;
    font-family: 'montserrat', sans-serif;
    display: flex;
}


.titulo{
    text-align: center;
    display: flex;
    flex-direction: flex;
    justify-content: center;
    padding-bottom: 5%;
    color: aliceblue;
    font-family: 'Krona One', sans-serif;
    font-size: 1rem;
    
}

.descricao{
    text-align: justify;
    padding: 0% 0% 2% 0%;
}

.intro{
    width: 100%;
    max-width: 20rem;
    max-height: 10rem;
}

.botao{
    color: aliceblue;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 5px;
    
}

.tabela {
    padding: 2% 15% 25% 15%;
    text-align: center;
}

.tabela__titulo {
    color: aliceblue;
    margin-bottom: 5%;
    font-family: 'Krona One', sans-serif;
    font-size: 1.875rem;
}

.tabela__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 0.625rem;
    color: #5AC051;
    font-family: 'montserrat', sans-serif;
    font-size: 1.25rem;
}

form input, form textarea {
    width: 50%;
    padding: 0.9375rem;
    border-radius: 0.3125rem;
    border: 1px solid #555;
    background-color: #222;
    box-sizing: border-box;
    margin-bottom: 1.25rem;
}

button {
    padding: 10%;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    background-color: #5AC051;
    color: #fff;
    cursor: pointer;
}

button:hover, .botao:hover {
    color: #5AC051;
}


.rodape{
    color: aliceblue;
    font-family: 'montserrat', sans-serif;
    font-size: 0.9rem;
    box-sizing: border-box;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;

}

.imagem__rodape{
    display: flex;
    flex-direction: column;
    max-width: 2rem;
    max-height: 2rem;
    padding-top: 1%;
    padding-bottom: 1%;
}

.imagem__rodape:hover{
    color: #5AC051;
    transition: 0.2s;
}

@media (max-width:620px){
    .cabecalho__nav{
        gap: 1%;
        padding: 0%;
        width: auto;
    }

    .cabecalho__logo{
        padding: 0% 0% 0% 0%;
    }

    .conteudo{
        padding: 5% 0% 20% 0%;
        width: auto;
    }

    .rodape__conteudo{
        display:flex ;
        padding-left: 0%;
        gap: 5%;
        width: auto;
    }
    .rodape__conteudo__uteis{
        display: flex;
        flex-direction: column;
        padding: 0% 0% 0% 2%;
    }
}
